[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
praw = "*"
pandas = "*"
numpy = "*"
flask-cors = "*"
jupyter = "*"
sklearn = "*"
tensorflow = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
